body {
    text-align: center;
}






.justify {
    border: 1px solid black;
    padding: 10px;
    width: 200px;
    height: 200px;
    text-align:justify ;
  }




/* unvisited link */
.Stylingstate a:link {
    color: red;
  }
  
  /* visited link */
  .Stylingstate a:visited {
    color: green;
  }
  
  /* mouse over link */
  .Stylingstate a:hover {
    color: hotpink;
  }
  
  /* selected link */
  .Stylingstate a:active {
    color: blue;
  }




 .dacoration h1 {
    text-decoration: overline;
  }
  
 .dacoration h2 {
    text-decoration: line-through;
  }
  
 .decoration h3 {
    text-decoration: underline;
  }
  
 .decoration p.ex {
    text-decoration: overline underline;
  }



  a.one:link {color:#ff0000;}
  a.one:visited {color:#0000ff;}
  a.one:hover {color:#ffcc00;}
  
  a.two:link {color:#ff0000;}
  a.two:visited {color:#0000ff;}
  a.two:hover {font-size:150%;}
  
  a.three:link {color:#ff0000;}
  a.three:visited {color:#0000ff;}
  a.three:hover {background:#66ff66;}
  
  a.four:link {color:#ff0000;}
  a.four:visited {color:#0000ff;}
  a.four:hover {font-family:monospace;}
  
  a.five:link {color:#ff0000;text-decoration:none;}
  a.five:visited {color:#0000ff;text-decoration:none;}
  a.five:hover {text-decoration:underline;}



  ul.a {
    list-style-type: circle;
  }
  
  ul.b {
    list-style-type: square;
  }
  
  ol.c {
    list-style-type: upper-roman;
  }
  
  ol.d {
    list-style-type: lower-alpha;
  }



 .liststyleimage ul {
    list-style-image: url('sqpurple.gif');
    /* "https://source.unsplash.com/1920x1080?nature" */
  }



.formatting  {
    border: 1px solid gray;
    padding: 8px;
  }
  
  h1 {
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
  }
  
  p {
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
  }
  
  a {
    text-decoration: none;
    color: #008CBA;
  }




.conainer {
    width: 70%;
    margin: 0 auto;
}






#overflowTest {
  background: #4CAF50;
  color: white;
  padding: 15px;
  width: 50%;
  height: 100px;
  overflow: scroll;
  border: 1px solid #ccc;
}






span.a {
  display: inline; /* the default for span */
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid blue;  
  background-color: yellow; 
}

span.b {
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid blue;    
  background-color: yellow; 
}

span.c {
  display: block;
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid blue;    
  background-color: yellow; 
}






footer p{
    text-align: center;
}