*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width:70% ;
    margin:0 auto ;
    text-align: center;

}
header{
    background-color: aqua;
    padding:8px ;
}
header nav a{
    margin:0 12px ;
    text-decoration: none;
    overflow: hidden;
    padding: 8px;
    font-family: sans-serif;
    font-weight: bold;
}
header nav a:hover{
    background-color: black;
    color: darkgray;
    
}
body{
    background-image: url("https://source.unsplash.com/1920x1080?nature");
}
main{
    min-height: calc(100vh - 76px);
}
main h1{
    color: white;
    font-family: sans-serif;
    margin: 8px 12px;
}
footer{
    background-color: aqua;
    padding: 8px;
    color: white;
}